---
import Button from "../components/Button.astro";
---

<nav class="my-10 flex justify-center">
  <div
    class="bg-prussian-blue flex justify-center items-center space-x-5 rounded-full p-5"
  >
    <div>
      <Button
        text="Start your plan"
        class="bg-picton-blue text-white p-2 px-10 rounded-full"
      />
    </div>

    <div>
      <Button
        text="Item 1"
        class="text-white p-2 px-10 rounded-full hover:bg-rich-black"
      />
    </div>

    <div>
      <Button
        text="Item 2"
        class="text-white p-2 px-10 rounded-full hover:bg-rich-black"
      />
    </div>

    <div>
      <Button
        text="Item 3"
        class="text-white p-2 px-10 rounded-full hover:bg-rich-black"
      />
    </div>

    <div>
      <Button
        text="Contact us"
        class="text-white p-2 px-10 rounded-full hover:bg-rich-black"
      />
    </div>
  </div>
</nav>
